<?xml version="1.0"?>
<!--
/**
 * Copyright © Pixl Mods. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pixlmods_popup" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Popup</label>
            <tab>general</tab>
            <resource>PixlMods_Popup::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Settings</label>
                <field id="active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Popup Module</label>
                    <comment>Disable to stop all popups from showing on the storefront, without deactivating individual popups.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="tracking" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Event Tracking</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Event Tracking</label>
                    <comment>Records view/close/conversion events used by Popup Reports.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="day_frequency_days" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>"Once per Day" Cookie Duration (days)</label>
                    <comment>How many days the "Once per Day" frequency cookie lasts before the popup becomes eligible to show again.</comment>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
